/* Reset dei margini e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

/* Font personalizzato per il corpo del testo */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}

/* Stile dell'intestazione */
header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Stile del titolo dell'intestazione */
header h1 {
    font-size: 2.5rem;
}

/* Stile della navigazione */
nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e74c3c;
}

/* Stile delle sezioni */
section {
    background-color: #fff;
    padding: 40px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.1rem;
    line-height: 1.8;
}

/* Stili CSS per il footer */

footer {
    padding: 0px;
    margin-top: auto;
    padding: var(--spacing-2) 0;
    text-align: center;
    background-color: #fff;
    color: #2c3e50;
    padding: 60px opx;
    font-size: 14px;
}

.welcome-text {
    animation: fade-in 2s ease-out;
}

@keyframes fade-in {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}





#home {
    text-align: center; /* Centra il testo all'interno della sezione Home */
}


#home img {
    width: 25%; /* Imposta la larghezza dell'immagine al 50% della larghezza della sezione Home */
    margin: 0 auto; /* Imposta il margine laterale automatico per centrare l'immagine */
}

#home p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-button{
    
}

#about {
   text-align: center;
}

.about-content {
    flex: 1;
    padding: 0 20px;
}

.about-title {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
    text-align: justify;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 25%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.1);
}
.skills-title{
    text-align: center;
}

#skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #skills-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: var(--spacing-1);
  }



.project-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-images {
    display: flex;
    justify-content: space-between;
}

.project-images img {
    width: calc(33.33% - 10px); /* Calcola la larghezza in base alla dimensione della finestra del browser */
}


.footer-content {
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-section.about {
    max-width: fit-content;
    padding-top: 20px;
    padding-left: 20px;
    flex-basis: 300px;
}

.footer-section.about p {
    margin-bottom: 20px;
}
.footer-section.contact-form{
    padding-top: 20px;
    width: 200px;
    max-width: fit-content;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #34495e;
}

/* Stili CSS per il footer */
/*.footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}*/

.footer-bottom {
    display: flex; 
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1a252f;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

/* Stili CSS per la sezione dei link nel footer */
.footer-section.links {
    padding: 20px;
    flex-basis: 100px; /* Larghezza della sezione dei link */
}

.footer-section.links h2 {
    font-size: 18px; /* Dimensione del titolo "Links Utili" */
    margin-bottom: 20px; /* Spazio inferiore del titolo */
}

.footer-section.links ul {
    list-style: none; /* Rimuove i punti di elenco */
    padding: 0; /* Rimuove il padding predefinito */
}

.footer-section.links li {
    margin-bottom: 10px; /* Spazio tra i singoli link */
}

.footer-section.links a {
    text-decoration: none; /* Rimuove il sottolineato dai link */
    color: black; /* Colore del testo dei link */
    font-size: 16px; /* Dimensione del testo dei link */
}

.footer-section.links a:hover {
    color: #e74c3c; /* Cambia il colore del testo dei link al passaggio del mouse */
}

.heart {
    color: red;
  }

@media only screen and (max-width: 600px) {
    .about-me-container {
      flex-direction: column;
    }
  }
  